* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

ul, ol, dl {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: #F9F9F9;
  color: #222;
}

.main_container {
  max-width: 1100px;
  margin: 0 auto;
}

.text-h1 {
  font-size: 40px;
  font-weight: 600;
}
.text-h2 {
  font-size: 35px;
  font-weight: bold;
}
.text-h3 {
  font-size: 30px;
  font-weight: bold;
}
.text-h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
}
.text-p1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.text-p2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.text-p3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.text-p4 {
  color: #191919;
  font-size: 14px;
  line-height: 20px;
}
.text-p5 {
  font-size: 12px;
  line-height: 20px;
}

.btn_blue {
  background: #5495FF;
  border-radius: 10px;
  height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  gap: 8px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  transition: 0.2s ease all;
  overflow: hidden;
}
.btn_blue img {
  transition: 0.2s ease all;
}
.btn_blue:hover {
  background: #4e8bed;
  box-shadow: 0px 8px 20px -6px rgba(84, 149, 255, 0.7);
}
.btn_blue:hover img {
  transform: translateX(5px);
}
.btn_blue:active {
  background: #5495FF;
}
.btn_yellow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0 24px;
  border-radius: 10px;
  background: #FF941F;
  color: #fff;
  height: 56px;
  font-size: 16px;
  line-height: 24;
  font-weight: bold;
  transition: 0.2s ease all;
  overflow: hidden;
}
.btn_yellow .icon {
  transition: 0.2s ease all;
}
.btn_yellow:hover {
  box-shadow: 0px 6px 16px -6px rgba(255, 147, 31, 0.8);
  background: #ef891c;
}
.btn_yellow:hover .icon {
  transform: translateX(5px);
}
.btn_yellow:active {
  background: #FF941F;
}

.inp_light {
  border: 1px solid #EEEEEE;
  border-radius: 15px;
  height: 56px;
  width: 100%;
  padding: 0 18px;
  color: #222222;
  font-size: 12px;
  line-height: 20px;
}
.inp_light::-moz-placeholder {
  color: #959595;
}
.inp_light::placeholder {
  color: #959595;
}
.inp_light:focus {
  border: 1px solid #959595;
}

section {
  margin-bottom: 120px;
}

.checkbox {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.checkbox input[type=checkbox] {
  display: none;
}
.checkbox .icon {
  width: 60px;
  height: 32px;
  position: relative;
  border-radius: 120px;
  background: #E4E4E4;
  transition: 0.3s ease all;
  flex-shrink: 0;
}
.checkbox .icon_circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  transition: 0.3s ease all;
  top: 4px;
  left: 4px;
}
.checkbox input[type=checkbox]:checked + .icon {
  background: #FFE5C9;
}
.checkbox input[type=checkbox]:checked + .icon span {
  left: 32px;
  background: #FF941F;
}

[class*=copyrights-pane] {
  display: none !important;
}

.home {
  margin-bottom: 0;
  position: relative;
  background: #4F8FFD;
  color: #fff;
  z-index: 1;
}
.home__bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.home__bg.sm {
  display: none;
}
.home__container {
  padding: 150px 0;
}
.home__title {
  margin-bottom: 24px;
}
.home ul {
  display: flex;
  flex-direction: column;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 16px;
  gap: 10px;
  max-width: 500px;
  margin-bottom: 32px;
}
.home ul li {
  display: flex;
  align-items: center;
  gap: 12px;
}

.home_form {
  margin-bottom: 72px;
}
.home_form__container {
  background: #FF941F;
  color: #fff;
  position: relative;
  border-radius: 20px;
  padding: 52px 64px 48px 68px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 75px;
  z-index: 1;
  transform: translateY(-24px);
}
.home_form .clock {
  position: absolute;
  top: -37px;
  left: -113px;
  z-index: -1;
}
.home_form__title {
  margin-bottom: 12px;
}
.home_form__description {
  position: relative;
  line-height: 32px;
  padding-left: 18px;
}
.home_form__description::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: #fff;
  border-radius: 2px;
}
.home_form form {
  width: 536px;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 16px;
}
.home_form form input {
  width: calc(50% - 8px);
  background: #fff;
}
.home_form form p {
  width: calc(50% - 8px);
}
.home_form form p a {
  text-decoration: underline;
}
.home_form form button {
  width: calc(50% - 8px);
}

.advantages__title {
  margin-bottom: 64px;
}
.advantages__card {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
}
.advantages__card_item {
  width: calc(33.3333333333% - 13.3333333333px);
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 8px 32px -6px rgba(84, 149, 255, 0.2);
  padding: 32px 40px;
}
.advantages__card_item h3 {
  margin: 20px 0 8px;
}

.driving__container {
  position: relative;
  z-index: 1;
}
.driving__car {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: -205px;
  transform: translateY(10px) scale(1.3);
}
.driving__content {
  border-radius: 30px;
  box-shadow: 0px 8px 32px -6px rgba(84, 149, 255, 0.2);
  background: rgba(255, 255, 255, 0.85);
  margin-left: 187px;
  padding: 40px 40px 56px;
}
.driving__title {
  line-height: auto;
  margin-bottom: 28px;
}
.driving ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.driving ul h3 {
  color: #FF941F;
  font-size: 64px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
}
.driving ul h3 span {
  font-weight: bold;
}
.driving ul li:nth-child(2n) h3 {
  color: #5495FF;
}

.plan__container {
  background: #fff;
  border-radius: 15px;
  padding: 48px;
  display: flex;
  align-items: flex-start;
  gap: 48px;
}
.plan__form {
  border: 1px solid rgb(246, 246, 246);
  border-radius: 20px;
  box-shadow: 0px 2px 30px -6px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  width: 492px;
  padding: 40px 32px;
  flex-shrink: 0;
}
.plan__form .checkbox_wrap {
  display: flex;
  align-items: center;
  gap: 12px;
}
.plan__form .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
}
.plan__form .price p {
  font-weight: 400;
  color: #727272;
}
.plan__form .price h3 {
  line-height: 100%;
}
.plan__form .step {
  background: #EAF2FF;
  padding: 6px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  margin-bottom: 28px;
}
.plan__form .step button {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #4E4E4E;
  border-radius: 40px;
}
.plan__form .step button.active {
  box-shadow: 0px 8px 20px -6px rgba(84, 149, 255, 0.5);
  background: rgb(255, 255, 255);
  color: #5495FF;
  padding: 5px;
}
.plan__form .price_value {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  margin-bottom: 32px;
}
.plan__form .price_value span {
  font-size: 32px;
  font-weight: bold;
  transform: translateY(-4px);
}
.plan__form .part {
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.plan__form .part::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #FF941F;
}
.plan__form .part_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 25%;
}
.plan__form .part_item span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FF941F;
}
.plan__form .part_item .text-p3 {
  margin: 12px 0 2px;
  font-weight: 400;
}
.plan__content {
  padding-top: 24px;
}
.plan__content .text-h4 {
  margin: 20px 0 24px;
  color: #4E4E4E;
}

.schedule .text-h2 {
  margin-bottom: 12px;
  line-height: 100%;
}
.schedule .text-h4 {
  line-height: 100%;
  margin-bottom: 96px;
}
.schedule__content {
  background: #5495FF;
  border-radius: 28px;
  padding: 43px 48px 43px 479px;
  position: relative;
  color: #fff;
}
.schedule__content ul {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.schedule__content li {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.schedule .map_wrap {
  position: absolute;
  top: -38px;
  width: 387px;
  height: calc(100% + 76px);
  left: 42px;
  background: #fff;
  border: 6px solid #fff;
  border-radius: 15px;
  overflow: hidden;
}

.reach__title {
  margin-bottom: 64px;
}
.reach__card .swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 20px;
  margin-bottom: 40px;
}
.reach__card_item {
  width: calc(50% - 10px);
  border: 1px solid rgb(237, 237, 237);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  padding: 32px 24px;
  height: auto;
}
.reach__card_item .card_head {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.reach__card_item .card_head p {
  margin: 0 8px 0 12px;
  font-weight: 600;
}
.reach__card_item .card_head span {
  font-weight: 400;
  margin-left: 6px;
}
.reach__card_item .card_description {
  font-weight: 400;
}
.reach__card_pagination {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.reach__card_pagination span {
  width: 6px;
  height: 6px;
  opacity: 1;
  margin: 0 !important;
  padding: 0;
  background: #DEDEDE;
}
.reach__card_pagination span.swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  background: #2D2D2D;
}
.reach__map {
  position: relative;
}
.reach__map .map {
  width: 100%;
  height: 480px;
  border: 4px solid #fff;
  border-radius: 30px;
  overflow: hidden;
}
.reach__map .map_card {
  width: 340px;
  position: absolute;
  z-index: 2;
  top: 40px;
  right: 40px;
  background: #fff;
  border-radius: 40px;
  padding: 32px 40px;
}
.reach__map .map_card__contact {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.reach__map .map_card__contact a {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}
.reach__map .map_card .line {
  height: 1px;
  width: 100%;
  border-radius: 2px;
  background: #EDEDED;
  margin: 20px 0;
}
.reach__map .map_card__network {
  display: flex;
  align-items: center;
  gap: 12px;
}
.reach__map .map_card__network a {
  border-radius: 10px;
}

.instructor__title {
  text-align: center;
  margin-bottom: 12px;
}
.instructor__description {
  text-align: center;
  margin-bottom: 64px;
}
.instructor .swiper-slide {
  border-radius: 15px;
  box-shadow: 0px 6px 24px -12px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  padding: 24px;
}
.instructor .swiper_pagination {
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 17px;
  gap: 6px;
}
.instructor .swiper_pagination span {
  margin: 0 !important;
  padding: 0;
  opacity: 1;
  width: 6px;
  height: 6px;
  background: #DEDEDE;
}
.instructor .swiper_pagination span.swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  background: #2D2D2D;
}
.instructor .card_head {
  display: flex;
  align-items: center;
  gap: 24px;
}
.instructor .card_head__content p {
  font-weight: 400;
  line-height: 100%;
  margin: 4px 0 10px;
}
.instructor .card_head__content .stars {
  display: flex;
  align-items: center;
  gap: 6px;
}
.instructor .card_head__content .star {
  display: flex;
  align-items: center;
  gap: 2px;
}
.instructor .card_head__content .star_value {
  color: #FF941F;
  font-size: 16px;
  font-weight: 600;
}
.instructor .card_user {
  width: 104px;
  height: 104px;
  flex-shrink: 0;
  position: relative;
}
.instructor .card_user .user {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.instructor .card_like {
  position: absolute;
  bottom: 0;
  right: 0;
}
.instructor .card_line {
  width: 100%;
  height: 1px;
  border-radius: 2px;
  background: #EDEDED;
  margin: 24px 0;
}
.instructor .card_body ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}
.instructor .card_body ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.instructor .card_body p {
  font-weight: 400;
  color: #727272;
}
.instructor .card_body__category {
  display: flex;
  align-items: center;
  gap: 4px;
}
.instructor .card_body__category a {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: #5495FF;
  background: #EAF2FF;
  border-radius: 5px;
}
.instructor .card_body .experience {
  display: flex;
  align-items: center;
  gap: 4px;
}
.instructor .card_body .btn_blue {
  width: 100%;
  height: 48px;
  box-shadow: 0px 6px 16px -6px rgba(84, 149, 255, 0.8);
  white-space: nowrap;
}
.instructor__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 48px 0 96px;
}
.instructor__form {
  border: 1px solid rgb(237, 237, 237);
  border-radius: 30px;
  background: rgb(255, 255, 255);
  padding: 56px 64px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.instructor__form .text-p3 {
  margin: 12px 0 40px;
  font-weight: 600;
}
.instructor__form .inputs {
  max-width: 812px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
.instructor__form .inputs button {
  width: 100%;
}
.instructor__form .text-p5 a {
  display: inline;
  text-decoration: underline;
}
.instructor__form .form_bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.write_review__title {
  position: relative;
  padding-left: 52px;
  line-height: 40px;
  margin-bottom: 48px;
}
.write_review__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-radius: 8px;
  background: #5495FF;
}
.write_review ul {
  margin-left: 52px;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.write_review ul p {
  line-height: 28px;
}

.rule__title {
  margin-bottom: 64px;
}
.rule ul {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.rule ul li {
  width: 100%;
}
.rule ul p {
  font-weight: 500;
  margin-top: 20px;
}

.educational__container {
  border-radius: 28px;
  background: rgb(255, 255, 255);
  padding: 80px 64px 48px;
  position: relative;
  z-index: 1;
}
.educational__title {
  margin-bottom: 101px;
}
.educational__bg {
  position: absolute;
  top: 8px;
  right: -48px;
  z-index: -1;
}
.educational ul {
  display: flex;
  flex-wrap: wrap;
  gap: 28px 48px;
}
.educational ul li {
  width: calc(50% - 24px);
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.educational ul img {
  border-radius: 20px;
  box-shadow: 0px 6px 24px -4px rgba(84, 149, 255, 0.5);
}
.educational ul h3 {
  font-weight: bold;
}
.educational ul p {
  font-weight: 400;
  color: #727272;
}

.tarif__head {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 61px;
}
.tarif__head br {
  display: none;
}
.tarif__head ul {
  display: flex;
  align-items: center;
  gap: 34px;
}
.tarif__head ul a {
  font-size: 16px;
  color: #C4C4C4;
  position: relative;
  line-height: 100%;
  padding-bottom: 6px;
}
.tarif__head ul a::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background: #4B8EFF;
  display: none;
}
.tarif__head ul a.active {
  font-weight: bold;
  color: #212121;
}
.tarif__head ul a.active::before {
  display: block;
}
.tarif .swiper {
  overflow: visible;
  z-index: 1;
  margin-bottom: 191px;
}
.tarif .swiper::before {
  content: "";
  position: absolute;
  width: calc(100% + 128px);
  height: calc(100% - 116px);
  left: -64px;
  top: 48px;
  background: #D6E6FF;
  z-index: -1;
  border-radius: 40px;
}
.tarif .swiper-wrapper {
  align-items: stretch;
}
.tarif .swiper-slide {
  height: auto;
  border-radius: 19px;
  background: rgb(255, 255, 255);
  padding: 36px 36px 42px;
}
.tarif .swiper-slide .title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  margin-bottom: 11px;
}
.tarif .swiper-slide .price {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  align-items: flex-end;
  margin-bottom: 15px;
}
.tarif .swiper-slide .price del {
  text-decoration: none;
  font-weight: bold;
  position: relative;
}
.tarif .swiper-slide .price del::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  background: #4B8EFF;
}
.tarif .swiper-slide .discount {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-bottom: 8px;
  margin-bottom: 22px;
  border-bottom: 1px solid #E4E4E4;
  color: #959595;
}
.tarif .swiper-slide .discount .alert {
  color: #fff;
  padding: 5px 12px;
  background: #FF941F;
  border-radius: 4px;
}
.tarif .swiper-slide .show_more {
  display: none;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 123.2%;
  margin-bottom: 47px;
}
.tarif .swiper-slide ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 46px;
}
.tarif .swiper-slide ul li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.tarif .swiper-slide ul span {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  flex-shrink: 0;
  background: #2D2D2D;
  margin-top: 6px;
}
.tarif .swiper-slide ul p {
  line-height: 123%;
}
.tarif .swiper-slide .btn_yellow, .tarif .swiper-slide .btn_blue {
  width: 100%;
  overflow: hidden;
}
.tarif .swiper .new {
  border: 2px solid #FF941F;
  position: relative;
  overflow: hidden;
}
.tarif .swiper .new_alert {
  position: absolute;
  width: 151.05px;
  height: 31px;
  right: -41px;
  top: 6px;
  transform: rotate(30deg);
  box-shadow: 0px 2px 0px 0px rgb(225, 127, 19);
  background: rgb(255, 148, 31);
  font-size: 16px;
  font-weight: 900;
  line-height: 19px;
  letter-spacing: 15%;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tarif__content {
  background: #4F8FFD;
  color: #fff;
  border-radius: 23px;
  padding: 53px 61px 56px;
  position: relative;
  z-index: 1;
}
.tarif__content .logo {
  margin-bottom: 21px;
}
.tarif__content .title {
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 16px;
}
.tarif__content h4 {
  font-weight: 500;
  margin-bottom: 66px;
}
.tarif__content .btn_yellow {
  padding: 0 65px;
  border-radius: 15px;
}
.tarif__content .person {
  position: absolute;
  bottom: 0;
  right: 110px;
  z-index: -1;
}
.tarif__content_bg {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.tarif__content_bg.sm {
  display: none;
}

.stage__title {
  text-align: center;
  margin-bottom: 12px;
}
.stage__description {
  text-align: center;
  margin-bottom: 64px;
}
.stage img {
  width: calc(100% + 47px);
  transform: translateX(-20px);
  margin: -30px 0;
}
.stage img.sm {
  display: none;
}

.comfortable__head {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 64px;
}
.comfortable__title {
  margin-bottom: 12px;
}
.comfortable .swiper_btn {
  display: flex;
  gap: 8px;
}
.comfortable .swiper_btn button {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(46, 42, 68, 0.12);
  border-radius: 16.32px;
  background: rgb(255, 255, 255);
}
.comfortable .swiper {
  max-width: 726px;
  overflow: visible;
}
.comfortable .swiper img {
  width: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.comfortable .swiper-slide {
  height: 400px;
}
.comfortable .swiper-slide:not(.swiper-slide-active) {
  opacity: 0.5;
}

.theory__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.theory__title {
  line-height: 150%;
}
.theory__title span {
  display: inline;
  position: relative;
}
.theory__title img {
  position: absolute;
  bottom: 0px;
  transform: translateY(100%);
  left: -12px;
}
.theory ul {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 16px;
}
.theory ul a {
  white-space: nowrap;
  box-shadow: 0px 12px 16px -8px rgba(255, 148, 31, 0.5);
}

.director__container {
  display: flex;
  align-items: center;
  gap: 95px;
}
.director__person {
  flex-shrink: 0;
}
.director__content {
  width: 100%;
}
.director span {
  width: 100px;
  height: 4px;
  border-radius: 4px;
  background: #5495FF;
  margin-bottom: 24px;
}
.director__title {
  margin-bottom: 32px;
}
.director ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.director ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.director ul p {
  font-weight: 500;
}

.get_discount__container {
  border: 1px solid rgb(237, 237, 237);
  border-radius: 30px;
  background: rgb(255, 255, 255);
  padding: 56px 64px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.get_discount__title {
  margin-bottom: 6px;
}
.get_discount__description {
  margin-bottom: 32px;
  max-width: 520px;
}
.get_discount__bg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.get_discount__people {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}

.review__title {
  margin-bottom: 58px;
}
.review .swiper {
  padding-bottom: 66px;
}
.review .swiper-slide {
  position: relative;
  height: 581px;
  font-family: "Golos Text", sans-serif;
  line-height: 123%;
}
.review .swiper-slide .content {
  height: 100%;
}
.review .swiper-slide .video {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 31px;
  -o-object-fit: cover;
     object-fit: cover;
}
.review .swiper-slide .title {
  position: absolute;
  top: 49px;
  left: 28px;
  display: flex;
  align-items: center;
  gap: 13px;
}
.review .swiper-slide .title img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.review .swiper-slide .title span {
  display: block;
  max-width: 120px;
  font-size: 16px;
  color: #fff;
}
.review .swiper-slide .bg {
  width: 100%;
  height: 100%;
  border-radius: 31px;
  -o-object-fit: cover;
     object-fit: cover;
}
.review .swiper-slide .show_view_text {
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
}
.review .swiper-slide button {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 4px 72px 0px rgba(0, 0, 0, 0.13);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: -36px;
  transform: translateX(-50%);
}
.review .swiper-slide button img {
  width: 16px;
  height: 16px;
  -o-object-fit: contain;
     object-fit: contain;
  transform: translateX(2px);
}
.review .swiper-slide.active .video {
  display: block;
}
.review .swiper-slide.active .content {
  display: none;
}
.review .swiper_pagination {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 32px;
}
.review .swiper_pagination span {
  opacity: 1;
  margin: 0 !important;
  padding: 0;
  width: 4px;
  height: 4px;
  background: #DEDEDE;
}
.review .swiper_pagination span.swiper-pagination-bullet-active {
  background: #2D2D2D;
}
.review__bottom {
  display: flex;
  align-items: center;
  gap: 12px;
}
.review__bottom a {
  height: 50px;
  border-radius: 16px;
  padding: 0 30px;
}
.review__bottom .swiper_btn {
  display: flex;
  align-items: center;
  gap: 4px;
}
.review__bottom button {
  border: 1px solid rgba(46, 42, 68, 0.12);
  border-radius: 16.32px;
  height: 51px;
  width: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

@media (max-width: 1160px) {
  .main_container {
    max-width: calc(100% - 60px);
  }
  .home_form form {
    width: 450px;
  }
  .director__person {
    width: 400px;
  }
}
@media (max-width: 992px) {
  section {
    margin-bottom: 90px;
  }
  .home__bg {
    display: none;
  }
  .home__bg.sm {
    display: block;
    width: 100%;
    height: 220px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 30px;
    position: static;
    margin-bottom: 24px;
  }
  .home__container {
    padding: 56px 0;
  }
  .home ul {
    margin-bottom: 24px;
    max-width: 100%;
  }
  .home .btn_yellow {
    width: 100%;
  }
  .home_form {
    margin-bottom: 34px;
  }
  .home_form__container {
    flex-direction: column;
    gap: 24px;
    padding: 40px 32px;
    transform: translateY(-30px);
  }
  .home_form .clock {
    display: none;
  }
  .home_form__title {
    font-size: 32px;
    line-height: 42px;
  }
  .home_form__description {
    padding-left: 0;
    font-size: 20px;
  }
  .home_form__description::before {
    display: none;
  }
  .home_form form {
    width: 100%;
    gap: 16px;
  }
  .home_form form input {
    width: 100%;
    order: 1;
  }
  .home_form form button {
    width: 100%;
    order: 2;
  }
  .home_form form p {
    width: 100%;
    order: 3;
  }
  .advantages__title {
    margin-bottom: 50px;
  }
  .advantages__card_item {
    width: calc(50% - 10px);
  }
  .driving {
    margin-top: 203px;
  }
  .driving__car {
    top: 90px;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  .driving__content {
    margin-left: 0;
  }
  .driving ul {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
  }
  .driving ul h3 {
    font-size: 50px;
  }
  .driving ul p {
    font-size: 14px;
  }
  .plan__container {
    flex-direction: column;
  }
  .plan__form {
    width: 100%;
  }
  .schedule .text-h4 {
    margin-bottom: 72px;
  }
  .schedule__content {
    width: calc(100% + 60px);
    margin-left: -30px;
    padding: 0 30px 40px;
    border-radius: 30px;
  }
  .schedule__content ul {
    gap: 32px;
  }
  .schedule .map_wrap {
    position: static;
    width: 100%;
    height: 452px;
    transform: translateY(-26px);
  }
  .reach__title {
    margin-bottom: 40px;
  }
  .reach__card {
    overflow: visible;
    margin-bottom: 40px;
  }
  .reach__card .swiper-wrapper {
    flex-wrap: nowrap;
    gap: 0;
    margin-bottom: 17px;
    align-items: flex-start;
  }
  .reach__card_item {
    padding: 30px 20px;
  }
  .reach__card_item:not(.swiper-slide-active) {
    height: 1px;
  }
  .reach__card_pagination {
    display: flex;
  }
  .reach__map .map {
    width: calc(100% + 60px);
    margin-left: -30px;
    border: 0;
    height: 560px;
  }
  .reach__map .map_card {
    width: 100%;
    right: 0;
    top: auto;
    bottom: 16px;
  }
  .instructor .inp_light {
    font-size: 16px;
  }
  .instructor__title {
    text-align: left;
  }
  .instructor__description {
    margin-bottom: 40px;
    text-align: left;
  }
  .instructor .swiper {
    overflow: visible;
  }
  .instructor .swiper-slide {
    width: 300px;
    padding: 16px;
  }
  .instructor .swiper_pagination {
    display: flex;
  }
  .instructor .card_head__content h3 {
    font-size: 16px;
  }
  .instructor .card_head__content p {
    font-size: 16px;
    margin: 4px 0 8px;
  }
  .instructor .card_head__content .star img {
    width: 18px;
    flex-shrink: 0;
  }
  .instructor .card_head__content .star_value {
    font-size: 14px;
  }
  .instructor .card_user {
    width: 80px;
    height: 80px;
  }
  .instructor .card_like {
    width: 28px;
  }
  .instructor .card_line {
    margin: 16px 0;
  }
  .instructor__link {
    display: block;
    margin: 16px 0 64px;
  }
  .instructor__link a {
    max-width: 315px;
    height: 48px;
    padding: 0 37px;
    white-space: nowrap;
    line-height: 100%;
  }
  .instructor__link a .icon {
    display: none;
  }
  .instructor__form {
    padding: 32px 30px;
  }
  .instructor__form .text-p3 {
    margin: 8px 0 32px;
  }
  .instructor__form .inputs {
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;
  }
  .instructor__form .form_bg {
    display: none;
  }
  .write_review__title {
    padding: 28px 0 0;
    line-height: 35px;
    margin-bottom: 30px;
    font-size: 25px;
  }
  .write_review__title::before {
    width: 100px;
    height: 4px;
  }
  .write_review ul {
    margin-left: 0;
    flex-direction: column;
    gap: 20px;
  }
  .rule__title {
    margin-bottom: 40px;
  }
  .rule ul {
    flex-direction: column;
    gap: 20px;
  }
  .educational__container {
    max-width: 100%;
    border-radius: 30px;
    padding: 40px 30px;
  }
  .educational__title {
    margin-bottom: 32px;
  }
  .educational__bg {
    position: static;
    width: 100%;
    height: 139px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 48px;
  }
  .educational ul {
    gap: 30px;
  }
  .educational ul li {
    width: 100%;
  }
  .tarif__head {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 36px;
  }
  .tarif__head br {
    display: block;
  }
  .tarif .swiper {
    margin-bottom: 64px;
  }
  .tarif .swiper-slide {
    width: 260px;
    padding: 36px;
  }
  .tarif .swiper-slide .title {
    margin-bottom: 23px;
  }
  .tarif .swiper-slide .price {
    margin-bottom: 54px;
  }
  .tarif .swiper-slide .price del {
    display: none;
  }
  .tarif .swiper-slide .discount {
    display: inline-block;
    padding-bottom: 4px;
    margin-bottom: 24px;
  }
  .tarif .swiper-slide .discount .alert {
    display: none;
  }
  .tarif .swiper-slide .show_more {
    display: inline-flex;
  }
  .tarif .swiper-slide .show_more.active {
    margin-bottom: 24px;
  }
  .tarif .swiper-slide .show_more.active img {
    transform: rotateZ(180deg);
  }
  .tarif .swiper-slide ul {
    display: none;
  }
  .tarif .swiper-slide ul.active {
    display: flex;
  }
  .tarif__content {
    padding: 22px 35px 24px 37px;
    border-radius: 16px;
    overflow: hidden;
  }
  .tarif__content .logo {
    height: 24px;
    margin-bottom: 17px;
  }
  .tarif__content .title {
    font-size: 28px;
  }
  .tarif__content h4 {
    font-size: 22px;
    margin-bottom: 50px;
  }
  .tarif__content .person {
    display: none;
  }
  .tarif__content .btn_yellow {
    width: 100%;
    height: 48px;
  }
  .tarif__content_bg {
    display: none;
  }
  .tarif__content_bg.sm {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .stage {
    background: #fff;
    padding: 40px 0;
    border-radius: 20px;
  }
  .stage__title {
    text-align: left;
    margin-bottom: 8px;
  }
  .stage__description {
    text-align: left;
    margin-bottom: 24px;
  }
  .stage img {
    display: none;
  }
  .stage img.sm {
    width: calc(100% + 48px);
    transform: translateX(-24px);
    display: block;
    height: 490px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: -24px 0;
  }
  .comfortable__head {
    margin-bottom: 40px;
  }
  .comfortable .swiper_btn {
    display: none;
  }
  .comfortable .swiper-slide {
    height: 200px;
  }
  .theory__container {
    display: block;
  }
  .theory__title {
    font-size: 28px;
    max-width: 330px;
    border: 1px solid red;
    margin-bottom: 24px;
  }
  .theory__title img {
    width: 100%;
    left: -3px;
  }
  .theory ul {
    flex-wrap: wrap;
    gap: 12px 8px;
  }
  .theory ul a {
    overflow: hidden;
    width: 161px;
  }
  .director__container {
    flex-direction: column;
    gap: 40px;
  }
  .director__person {
    height: 395px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .get_discount__container {
    padding: 32px 30px;
    border-radius: 20px;
  }
  .get_discount__title {
    margin-bottom: 8px;
  }
  .get_discount a {
    width: 100%;
  }
  .get_discount__bg {
    display: none;
  }
  .get_discount__people {
    display: none;
  }
  .review__title {
    margin-bottom: 40px;
  }
  .review .swiper {
    overflow: visible;
    padding-bottom: 45px;
  }
  .review .swiper-slide {
    width: 315px;
    height: 630px;
  }
  .review .swiper_pagination {
    display: flex;
  }
  .review__bottom {
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .text-h1 {
    font-size: 36px;
  }
  .text-h4 {
    font-size: 20px;
    line-height: 30px;
  }
  section {
    margin-bottom: 64px;
  }
  .advantages__title {
    margin-bottom: 40px;
  }
  .advantages__card {
    gap: 30px;
  }
  .advantages__card_item {
    width: 100%;
  }
  .driving__content {
    padding: 32px 20px;
  }
  .driving__title {
    margin-bottom: 32px;
  }
  .driving ul li:nth-child(1) {
    width: 95px;
  }
  .driving ul li:nth-child(2) {
    width: 124px;
  }
  .driving ul li:nth-child(3) {
    width: 103px;
  }
  .driving ul li:nth-child(4) {
    width: 152px;
  }
  .plan__container {
    max-width: 100%;
    border-radius: 30px;
    padding: 30px;
  }
  .plan__form {
    padding: 24px 16px;
  }
  .plan__form .checkbox_wrap {
    justify-content: space-between;
  }
  .plan__form .step {
    margin-bottom: 18px;
  }
  .plan__form .price_value {
    margin-bottom: 20px;
  }
  .plan__form .part {
    width: calc(100% + 32px);
    margin-left: -16px;
  }
}
@media (max-width: 430px) {
  .stage img.sm {
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */